*.log
*.swp
*.tar.gz
*.tgz
*.zat
.DS_Store
.dockerignore
.eslintcache
.git
.git-crypt
.git/
.idea
.vscode/
.venv
Dockerfile
README.md
docker-compose.yml
docs/*
junit.xml
package-lock.json
tscommand-*
